<nav class="container-fluid">
    <div class="container">
        <div class="my-3 d-flex justify-content-between">       
            <input [(ngModel)]="info" type="text" class="from-control form-control-sm" placeholder="Add task...">
            <div>
                <select [(ngModel)]="cat" class="form-control form-control-sm">
                    <option value="">Select category</option>
                    <option value="Home">Home</option>
                    <option value="Work">Work</option>
                    <option value="Food">Food</option>
                    <option value="Sport">Sport</option>
                </select>
            </div>
            <div class="row">
                <button class="btn btn-outline-secondary mr-2" (click)="addTask()">Add task</button>
            </div>
            <div>
                <select (change) = "sort(sortBox)" class="form-control form-control-sm" #sortBox>
                    <option value="">Sort by...</option>
                    <option value="_id">I.D</option>
                    <option value="date">Date</option>
                    <option value="cat">Category</option>
                </select>
            </div>
            <button class="btn btn-danger" (click) = "delAllTask.emit()">Clear all</button>
        </div>
    </div>   
</nav>