nav input{
    height: 37px;
    width: 600px;
}

nav select{
    height: 37px;
    width: 100px;
}

nav{
    background-color: sandybrown;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}